/*body {
	font-family: sans-serif;
	text-align: center;
	background-image: url(..images/fireflies.gif);
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 1500px;



	
}
*/

body{
	background-repeat: none;
	background-size: 1500px;
}
#container {

}
/*
img {
	z-index: 0;
	background-position: top left;
	background-image: url('fireflies.gif');
	width: 150%;
	height: 150%;
}
*/
#text_container {
	z-index: 5;
	text-align: center;
	padding-top: 50px;
}
.headlines {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-size: 70pt;
	z-index: 5;
	color: #33A673;
	padding-top: 35px;
}

.links {

	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 25pt;
	z-index: 5;

}

a:-webkit-any-link {
    color: #fff066;
    text-decoration: none;
    cursor: auto;
}

/*
a {
	color: black;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 60px;
	text-decoration: none;
	z-index: 5;
}
*/

a:hover {
	color: #668CB2;	
}


.links {
    -webkit-animation: pulsate 2.5s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.25;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.15;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.15;
    }
}
