/*body {
	font-family: sans-serif;
	text-align: center;
	background-image: url(..images/fireflies.gif);
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: 1500px;



	
}
*/
#container {

}
img {
	z-index: 0;
	background-position: top left;
	background-image: url('fireflies.gif');
	width: 150%;
	height: 150%;
}

#text_container {
	z-index: 5;
	text-align: center;
}
.headlines {
	font-family: "Courier New", Courier, monospace;
	font-weight: 900;
	font-size: 15pt;
	z-index: 5;
	color: #faffd1;
}

.links {

	font-family: "Courier New", Courier, monospace;
	font-weight: 400;
	font-size: 11pt;
	z-index: 5;
	color: #636549;
	text-decoration: none;
}
/*
a {
	color: black;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 60px;
	text-decoration: none;
	z-index: 5;
}
*/
a:hover {
	color: yellow;	
}


.pulsate {
    -webkit-animation: pulsate 2s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.25;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.25;
    }
}
