body {
	font-family: sans-serif;
	text-align: center;
	background: black;
	width: 100%;
  	margin: 0;
}

.main {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
}


#exercises {
	margin-bottom: 80px;
}

h1 {
	font-size:12px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
}

a {
	color: white;
	font-size: 60px;
	text-decoration: none;
}

a:hover {
	color: yellow;	
}

